/* reset */
*{margin:0;padding:0;}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0}
body,button,input,select,textarea{font:12px/1.5 Microsoft YaHei;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
em,b{font-style:normal}
a{text-decoration:none;color:#fff;position: relative;}
a:hover{text-decoration:none}
img{border:0;}
button,input,select,textarea{font-size:100%;outline:none;border: none;}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0;list-style: none;}

body{padding:0 !important;}
.wrap{overflow:hidden;}
.pa{position: absolute;}
a img{max-width: 100%;}

/* page0 */
.bg{width:100%; height: 100%;display: block;}
.logo{width:8%;z-index: 999;}
.page0{position: relative;height: 100%;overflow: hidden;}
.page0 .logo{top: 9%;left: 12%;}
.p0-tt{width: 68%;left: 2.5%;top: 29%;z-index: 100;}
.logo-text{width: 21.7%;z-index: 999;}
.page0 img{max-width: 100%;display: block;}
.page0 .logo-text{left: 12%;bottom: 2%;}
.page0 .btn-detail{left:0;right:0;margin:0 auto;display: block;width: 15%;top: 79%;z-index: 999;}
.btn-share,.btn-web{position: absolute;top: 10%;width: 8%;z-index: 100;transition: all 1s ease-out;-webkit-transition:all 1s ease-out;}
.btn-share{right: 4%;}
.btn-web{right: 15%;}
.btn-back{top: 7.5%;width: 3.8%;left: 2%;}
.page0 .spot-box{position: absolute;bottom:0;left:0;width:100%;height: 69%;overflow: hidden;}
.page0 .spot-box img{position: absolute;top:0;opacity: 0;width: 56%;display: block;}
.page0 .spot01{left:-30%;-webkit-animation: spot_up 5.5s 1s linear infinite;animation: spot_up 5.5s 1s linear infinite;}
.page0 .spot02{left: 0;-webkit-animation: spot_up 5.5s linear infinite;animation: spot_up 5.5s linear infinite;}
.page0 .spot03{right:-30%;-webkit-animation: spot_up 5.5s 2s linear infinite;animation: spot_up 5.5s 2s linear infinite;}

/* page-wrap */
.page-wrap{display: none;position: relative;z-index: 100;}
.page-wrap .logo{top: 7.5%;left: 19%;}
.page-wrap .logo-text{bottom: 2%;left: 19%;}
.page-wrap .flower01,.page-wrap .flower02{bottom: -17%;}
.page-wrap .flower01{left:0;width: 32.3%;}
.page-wrap .flower02{right:0;width: 24.1%;}
.btn-share.com{right: 22%;}
.btn-web.com{right: 33%;}

.scroll-box{top: 100%;left: 40%;right:0;margin:0 auto;width: 87%;height: 89%;}
.scroll-l{height: 100%;left: 1.5%;top:0;z-index: 20;}
.scroll-r{height: 100%;left: 6%;top: 0;z-index: 20;}
.middle-box{width: 19%;top: 0;left: 0;height: 100%;overflow: hidden;}
.scroll-m{left: 8%;top: 11%;height: 73%;}
.sl-shadow{top: -1%;left: 0;height: 97%;}

.hand-tips{width: 3%;top: 0%;left: 0;right: 0;margin: 0 auto;opacity: 0;visibility: hidden;cursor: pointer;}
.hand-tips.active{animation: opa 3s 1s infinite;-webkit-animation: opa 3s 1s infinite;}

.des{position: absolute;bottom: 27%;right: 20%;font-size: .18rem;display: none;}
.des em{color:#f00;}

.closeweima,.openweima {position: absolute;top: 30%;right: 0;z-index: 999;}
.closeweima {width: 8.6%;}
.openweima {
    width: 3.9%;
    display: none;
}

.tab{position: absolute;bottom: 5%;left:0;right:0;margin:0 auto;width: 44.5%;height: 14%;}
.tab ul{height: 100%}
.tab img{max-width: 100%;}
.tab li{cursor: pointer; width: 12%;height: 100%;float: left;margin:0 4%; -webkit-transform: translate3d(0, 150%, 0);transform: translate3d(0, 150%, 0);position: relative;}
.tab .it01.animate{-webkit-animation: tab_up .4s ease-in-out forwards;animation: tab_up .4s ease-in-out forwards;}
.tab .it02.animate{-webkit-animation: tab_up .4s .2s ease-in-out forwards;animation: tab_up .4s .2s ease-in-out forwards;}
.tab .it03.animate{-webkit-animation: tab_up .4s .4s ease-in-out forwards;animation: tab_up .4s .4s ease-in-out forwards;}
.tab .it04.animate{-webkit-animation: tab_up .4s .6s ease-in-out forwards;animation: tab_up .4s .6s ease-in-out forwards;}
.tab .it05.animate{-webkit-animation: tab_up .4s .8s ease-in-out forwards;animation: tab_up .4s .8s ease-in-out forwards;}
.tab li img{position: absolute;top:0;left: 0;}
.tab li .tab-on{opacity: 0;filter:alpha(opacity=0);transition: opacity .8s;-webkit-transition:opacity .8s;}
.tab li.on .tab-on{opacity: 1;filter:alpha(opacity=100);}
.arrow{width: 1%;bottom: 12%;left: 36%;opacity: 0;filter:alpha(opacity=0);}
.arrow.on{animation: toRight .4s 1s ease-out infinite alternate;-webkit-animation: toRight .4s 1s ease-out infinite alternate;opacity: 100;filter:alpha(opacity=100);transition: opacity 1s 1s;-webkit-transition:opacity 1s 1s;}

/* .page1 */
.con{top: 20%;left: 0;width:90%;height: 55%;right:0;margin:0 auto;z-index:10;display: none;}
.con p{font-size: .2rem;line-height: .33rem;}
.p1-con .p1-tt{width: 36.5%;}
.p1-con p,.p2-con p,.p3-con p{width: 26%;margin: 1% 0 0 16.5%;}
.p1-con .p1-img{width: 47%;right: 9%;top: 7%;}

/* .page2 */
.p2-con .p2-tt{ width: 36.5%;}
.p2-con .p2-img01{width: 35.3%;top: 10%;right: 18%;}
.p2-con .p2-img02{width: 23.7%;top: -2%;right: 12%;}

/* .page3 */
.p3-con .p3-tt{width: 35.2%;}
.p3-con .p3-img{width: 42%;top: 11.5%;right: 11%;}

/* .page4 */
.p4-con .p4-tt{width:36.5%;margin-top: -4.5%;}
.p4-con ul,.p5-con ul{width: 36%;position: absolute;left:16.5%;top:28%; }
.p4-con li,.p5-con li{margin-bottom: 2%;}
.p4-con .sub-t01{width: 44.2%;}
.p4-con .sub-t02{width: 36.8%;}
.p4-con .sub-t03{width: 54.5%;}
.role{width: 26.2%;right: 18%;top: -16%;opacity: 0;filter:alpha(opacity=0); transform: translate3d(15%,0,0);-webkit-transform: translate3d(15%,0,0);transition: all 1s .5s ease-out;-webkit-transition:all 1s .5s ease-out;}
.role.animate{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);opacity: 1;filter:alpha(opacity=100);}

/* .page5 */
.p5-con img{max-width: 100%;}
.p5-con .p5-tt{width: 35.2%;margin-top: -4%;}
.p5-con .btn-play{width: 6.8%;display: block;left: 0;right: 0;margin: 0 auto;top:-18%;}
.btn-play.animate{animation: flipInX 1s;-webkit-animation: flipInX 1s;}
.p5-con .sub-t04{width: 46.3%;}
.p5-con .sub-t05{width: 46.5%;}
.p5-con .sub-t06{width: 46.2%;}

/* .page6 */
.p6-con{top: 23%;}
.p6-con .p6-tt{width:35.2%;margin-top: -4%;}
.p6-con ul{width: 32%;position: absolute;left:16.5%;top: 28%;}
.p6-con li{margin-bottom: 2%;}
.p6-con .r3{width: 37.5%;top: -62%;right: 16%;}
.p6-con .sub-t07{width: 63%;}
.p6-con .sub-t08{width: 63%;}
.p6-con .sub-t09{width: 67.2%;}


/* video */
.video-wrap{position: absolute;top: 0;left:0;width: 100%;z-index: 999;display: none;}
.video-wrap .video-text{top: 83%;left: 0;right: 0;margin: 0 auto;width: 37.8%;}
.loading{width:4%;top: 46%;left:0;right:0;margin:0 auto;display: block;}
.mp4{width:100%;display: block;}

/* pop-share */
.pop-share{background-color: #fff;padding:20px;display: none;}
.pop-share .dialog-con{padding:30px;}
.pop-share .dialog-con img{width:260px;height: 260px;display: block;}
.pop-share .dialog-con p {font-size: 16px;text-align: center;color: #000;padding: 10px 0 0;}
.pop-share .close {
    width: 38px;
    height: 32px;
    background-position: -594px -9px;
    text-indent: -999rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}




@-webkit-keyframes spot_up {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes spot_up {
    from {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes tab_up {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 150%, 0);
    }
    80% {
        -webkit-transform: translate3d(0, -5%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes tab_up {
    from {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }
    80% {
        transform: translate3d(0, -5%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
  }
}


@-webkit-keyframes toRight {
    from {
        -webkit-transform:translate3d(0,0,0);
    }
    100% {
        -webkit-transform:translate3d(50%,0,0);
    }
}

@keyframes toRight {
    from {
        transform:translate3d(0,0,0);
    }
    100% {
        transform:translate3d(50%,0,0);
    }
}

@-webkit-keyframes opa {
    from {
        opacity: 0;
        visibility: visible;
    }
    18% {
        opacity: 1;
    }
    36% {
        opacity: 0;
    }
    54% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    86% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes opa {
    from {
        opacity: 0;
        visibility: visible;
    }
    18% {
        opacity: 1;
    }
    36% {
        opacity: 0;
    }
    54% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    86% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

