#header{
    height: 100px;
    display: flex;
}
#menu{
    width: 82px;
    height: 46px;
    margin-top: 27px;
    margin-left: 10px;
    cursor: pointer;
}
#club{
    width: 82px;
    height: 42px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 29px;
    transition: all 1s ease;
}
#club span a{
    color: #b89f7a;
    font-weight: bold;
}
#logo{
    flex-grow: 1;
    text-align: center;
}
#logo img{
    width: 73px;
    height: 73px;
    margin-top: 8px;
}

#banner{
    width: 100%;
    position: relative;
}
#banner img{
    width: 100%;
}
#banner img:nth-child(2){
    display: none;
}
#konw-more{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}
#ad{
    font-size: 15px;
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 10px;
    right: 20px;
}

@media (max-width: 991px) {
    #banner img:nth-child(1){
        display: none;
    }
    #banner img:nth-child(2){
        display: block;
    }
}


@media (max-width: 767px) {
    #club{
        font-size: 12px;
    }
}
#header-hidden-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background: #292929;
    color: #ffffff;
    display: none;
    z-index: 1;
}
#header-hidden-menu li{
    height: 46.4px;
    text-indent: 15px;
    cursor: pointer;
    font-size:15px;
}
.top{
    color:#b89f7a;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #707070;
}
.top li:hover{
    color:#ffffff;
}
.bottom{
    margin-top: 20px;
}
.bottom li:hover{
    color:#b89f7a;
}
.bottom span{
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
    left: 160px;
    top: 10px;
}

#starclub{
    height: 220px;
    width: 100%;
    background: #0f0f0f;
    margin-top: -5px;
}
#starclub-container{
    height: 220px;
    width: 1140px;
    margin: 0 auto;
    background: url(../imgs/rewards_bg.png) 0 0 no-repeat;
    background-size: contain;
}
#rewards-mark-left{
    width: 260px;
    height: 220px;
    padding-left: 90px;
    margin-left: 180px;
    display: inline-block;
position: relative;
    top: 0px;
    /*top: -100px;*/
}
#rewards-mark-left p{
    font-size: 20px;
    /*font-weight: bolder;*/
    color: #FFFFFF;
    text-align: left;
    position: relative;
    top: 60px;
}
#rewards-mark-logo{
    width: 160px;
    height: 38.5185185185px;
    background: url(../imgs/rewards_logo_20170209.svg) 0 0 no-repeat;
    background-size: contain;
    position: relative;
    top: 70px;
}
#rewards-mark-right{
    height: 220px;
    /*width: 100%;*/
    display:inline-flex;
    position: relative;
}
#rewards-content-title {
    color: #fff;
    font-size: 25px;
    width: 430px;
    height: 28px;
    line-height: 28px;
    position: relative;
    top:50px;

}
#rewards-content-text {
    color: #fff;
    font-size: 16px;
    margin: 0 0 5px;
    height: 20px;
    width: 500px;
    position: absolute;
    left: 0;
    top: 80px;
}
#rewards-content-btn{
    position: absolute;
    top: 120px;
    width: 430px;
    height: 28px;
}
#rewards-mark-right button{
    color: #a98e67;
    padding: 14px 40px;
    border: 2px #a98e67 solid;
    margin: 7px 14px 7px 0;
    background: #000;
    cursor: pointer;
}
#rewards-mark-right button:hover{
    background: #a98e67;
    color: #ffffff;
    border: 2px #a98e67 solid;
}
#rewards-content-btn span{
    color: #a98e67;
    margin-left: 50px;
    cursor: pointer;
}
#rewards-content-btn span:hover{
    color: #8b5733;
}
#app{
    height: 220px;
    width: 100%;
    position: relative;
    margin-top: -20px;
    background: url("../imgs/app_bg.gif");
}
#app-container{
    width: 1170px;
    height: 220px;
    margin: 0 auto;
}
#app-device{
    width: 350px;
    height: 200px;
    margin-top: 20px;
    background: url("../imgs/app_device.png") no-repeat center;
    background-size: contain;
    position: absolute;
}
#twoDM{
    width: 130px;
    height: 130px;
    background: url("../imgs/app_qr_20170209.png") no-repeat center;
    background-size: contain;
    position: absolute;
    left: 600px;
    top: 10px;
}
#andriod{
    position: absolute;
    left: 700px;
    top: 200px;
    cursor: pointer;
}
#andriod:hover{
    color: #d2bb95;
}
#app-text{
    width: 450px;
    height: 56px;
    position: absolute;
    left: 900px;
    top: 70px;
    font-size: 25px;
}
.app-content-row-buttons{
    width: 450px;
    height: 56px;
    position: absolute;
    left: 900px;
    top: 150px;
    color: #d2bb95;
    cursor: pointer;
}
.app-content-row-buttons:hover{
    color: #000000;
}
.pc_show{
    display: block;
    width: 100%;
    height: 348px;
}
.cell{
    width: 50%;
    height: 760px;
    float: left;
}
#cell-left{
    background: url("../imgs/summer3-wave1-tmall.jpg") center no-repeat;
    background-size: contain;
    position: relative;
}
#cell-right{
    background: url("../imgs/FT-Grid%20(2)-20170328191448.jpg") center no-repeat;
    background-size: contain;
    position: relative;

}
#cell-left h1{
    color: #FFFFFF;
    position: absolute;
    bottom:50px;
    left: 33%;

}
#cell-left h3{
    color: #9c8564;
    position: absolute;
    bottom:30px;
    left: 38%;

}
#cell-right h1 {
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 33%;
}
#cell-right h3{
    color: #9c8564;
    position: absolute;
    bottom:30px;
    left: 38%;
}
#cell-container{
    height: 760px;
}
#wsg{
    height: 222px;
    width: 100%;
    background: #106e4b;
}
.container{
    height: 222px;
    width: 70%;
    margin: 0 auto;
}
#wsg-container{
    padding: 30px 0;
    height: 162px;
    width: 70%;
    margin: 0 auto;
}
.wsg-container-item{
    height: 150px;
    width: 25%;
    float: left;
}

.wsg-container-img1{

    background: url("../imgs/wsg-title.png") center no-repeat;
    background-size: contain;
    position: relative;
}

.wsg-container-img2{
    margin-left: 50px;
    width: 106px;
    height: 150px;
    background: url("../imgs/wsg-qrcode.png") center no-repeat;
    background-size: contain;
    position: relative;
}
.wsg-container-img3{
    margin-left: 50px;

    width: 106px;
    height: 150px;
    background: url("../imgs/wsg-cup.png") center no-repeat;
    background-size: contain;
    position: relative;
}

.wsg-container-img4{
    margin-left: 50px;

    background: url("../imgs/wsg-wording.png") center no-repeat;
    background-size: contain;
    position: relative;
}

