<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul> 
            <li v-for='(val,index) in arr'>
                {{val}},{{index+1}}
                <a href=""> {{val}}</a>
            </li> 
            <!-- <!-- <li v-for = " n in 10s"> 
                {{n}}
            </li> -->
            <template v-for="n in 3">
                    <p>pppppp</p>
                    <h1>hhhhhhhhhh</h1>
                    <span>ssssssssss</span>
            </template>
            

        </ul>



    </div>
        <script src="vue.js"></script>
        <script>
        
        new Vue({
            el:"#app",
            data:{

                arr:[1,2,3],
                obj:{
                    a:1,
                    b:2,
                    c:3
                }
            }




        })
        
        
        
        
        //splice
        // 1:截取到哪
        // 2:多长
        // 3:换成啥
        
        
        </script>        
</body>
</html>